body{font-size: 14px;}
h1,h2,h3,h4,h5,h6 {padding: 0px; margin: 0px; font-weight: normal;}
.fixed{position: fixed;}
.rel{position: relative;}
.abs{position: absolute;}
.sticky{position: sticky;}

input, button, textarea, select{outline: none ;}

.flex{display: flex;}
.aic{align-items: center;}
.jcc{justify-content: center;}
button{cursor: pointer;}
.bl{display: block;}
.ibl{display: inline-block;}

.flex-col{flex-direction: column;}

.cb{color: #000000;}
.font{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.fontl{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.fontb{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.b{font-weight: bold;}
.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s22{font-size: 22px;}
.s24{font-size: 24px;}
.s26{font-size: 26px;}
.s28{font-size: 28px;}
.s30{font-size: 30px;}

.noul{text-decoration: none;}
.noulh:hover{text-decoration: underline;}

.cff{color: #ffffff;}
.tc{
    color: #002f34;
}

.tac{
    text-align: center;
}
.tal{text-align: left;}
.anim{transition: all 0.2s linear 0s;}
.placeholder{
    background: #ccc !important;
    animation: placeholder 1s infinite ease-in-out;
}


@keyframes placeholder{
    50%{opacity: 0.1;}
    100%{opacity: 1;}
}